/* Font: ( font-family: 'Roboto Condensed', sans-serif; ) */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

/* ---- Page 1 ---- */

#page1 {
    position: relative;
    padding: 2rem;
    width: 50vw;
    height: 100vh;
    color: grey;

    margin: 2rem;
}

#page1-container {
    position: relative;
    width: 50%;
    height: 100%;
}

#logo {
    width: 100px;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    
}

#title-container {
    position: relative;
    top: 70px;
}

h1 {
    color: rgb(86, 155, 117);
    font-weight: 500;
}

.triangle-green {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 550px 0 0 350px;
    border-color: transparent transparent transparent rgb(86, 155, 117);
}

.green-scale {
    transform: scale(1.1);
    transform-origin: bottom left;
    opacity: 0.3;
}

.triangle-purple {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -2;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 1100px 700px;
    border-color: transparent transparent rgb(75, 49, 122) transparent;
}

.purple-scale {
    transform: scale(1.05);
    transform-origin: bottom right;
    opacity: 0.3;
}
